@model IEnumerable<_50325_2_Kalinets.Models.MenuItem>

<h6>Kарта сайта</h6>
<ul>
  @foreach (var item in Model) {
    <li>
      @Html.ActionLink(item.Name, item.Action, item.Controller)
    </li>
  }
</ul>

