@*
<div class="nav navbar-left">
  <a href="#" class="navbar-link">
    <span class="glyphicon glyphicon-user"></span> Войти
  </a>
  <a href="#" class="navbar-link">
    <span class="glyphicon glyphicon-plus-sign"></span> Зарегистрироваться
  </a>
</div>
<div class="nav navbar-right">
  <a href="#">
    0.00 руб. ( 0 ) <span class="glyphicon glyphicon-shopping-cart"></span>
  </a>
</div>
*@

<div class="nav navbar-left">
  <a href=@Url.Action("Login","Account") class="navbar-link">
    <span class="glyphicon glyphicon-user"></span> Войти
  </a>
  <a href=@Url.Action("Register","Account") class="navbar-link">
    <span class="glyphicon glyphicon-plus-sign"></span> Зарегистрироваться
  </a>
</div> <div class="nav navbar-right">
  <a href="#">
    0.00 руб. ( 0 )<span class="glyphicon glyphicon-shoppingcart"></span>
  </a>
</div> 