body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.container {
  max-width: 920px;
  margin: auto;
}

header {
  padding: 20px 0;
}

h1 {
  display: inline-block;
  color: #7e7e7e;
  font: 40px/40px 'Oswald', sans-serif;
  background-color: ButtonHighlight;
  margin: 0;
  padding: 0 10px;
}

footer {
  background: #7e7e7e;
  color: #dbdbdb;
  font-size: 11px;
  clear: both;
}

.submenu a {
  text-decoration: none;
  background-color: #f8f8f8;
}

.sitemap a {
  display: block;
  color: #f8f8f8;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

.twitter {
  background: url('../Images/twitter.png') no-repeat;
}

.facebook {
  background: url('../Images/facebook.png') no-repeat;
}

.google {
  background: url('../Images/google.png') no-repeat;
} 